@{Layout = "~/Views/Shared/_TeamLayout.cshtml";}
@using Wb.Models;
@using Wb.Pager;
@using Wb.Common;
@model PagedList<業餘戰隊>
 @{    
    string cur_controller = ViewBag.cur_controller;
    string cur_action = ViewBag.cur_action;
}
<script>   

    function goGameCategory() {
        var location_string = '@Url.RouteUrl("Default", new {  game = "#game#", controller = cur_controller,action = cur_action})';
        location_string = location_string.replace(encodeURIComponent("#game#"), $('#game_selection').val());

        location.href = location_string;
    }
</script>


<div  class="sub_navi" >
    <div class="col_8">
        <div class="game_select">
        <i class="fa fa-sort-asc"></i>
        <select id="game_selection" onchange=goGameCategory()>
            <option @(ViewBag.game_id == "SCII" ? "selected" : "") value="SCII">星海爭霸II</option>
            <option @(ViewBag.game_id == "lol" ? "selected" : "") value="lol">英雄聯盟</option>
        </select>
        </div>
    </div>
    <div class="col_2"><a href="#" class="function_btn"><i class="fa fa-search"></i></a></div>
    <br clear="all"/>
</div>    

<ul id="news_list" class="reset_ul team_list" >
@foreach (業餘戰隊 item in Model)
{    
    <li >
        <a href="@Html.FUrl("Article", "", new { t = item.戰隊編號 })" >
        <div class="img">
            <img src="@item.戰隊Logo" onerror="this.src='/upload/website/default.png'"/>
        </div>
        <h3 class="has_img">
            <div >@item.戰隊隊名</div>
            @Html.Raw(item.戰隊簡介)
        </h3>
        </a>
    </li>
}
</ul>
<a href="#popupPager" class="function_btn black call_pager"><i class="fa fa-ellipsis-h"></i></a>